@media (min-width: 1560px) {
  .container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  max-width: 1530px;
}
}
@media (min-width: 1440px) and (max-width: 1559.98px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1320px;
  }
.custom-width-container {
  max-width: 100%;
  padding-left: calc((100vw - 1320px) / 2);
}
}
@media (min-width: 1200px) and (max-width: 1440px) {
  #header .navbar-expand-lg .navbar-nav .nav-item {
    margin-right: 35px;
}
#header .navbar-expand-lg .extra_nav .navbar-nav .nav-item {
  margin-right: 28px;
}
.banner_heading {
  font-size: 60px;
  margin-bottom: 24px;
}
.banner_text {
  font-size: 19px;
  margin-bottom: 38px;
  max-width: 465px;
}
.herobanner_block {
  max-width: 460px;
}
.herobanner_wrapper {
  min-height: 490px;
}
.card-heading {
  font-size: 32px;
  margin-bottom: 40px;
}
.card-title {
  margin-bottom: 22px;
}
.cardImg {
  height: 328px;
}
.featured_wrapper {
  padding: 70px 0;
}
.section-heading h2 {
  font-size: 45px;
  margin-bottom: 28px;
}
.section-padding {
  padding: 70px 0;
}
.product-cardBox .feat-cardText {
  margin-bottom: 7px;
}
.product_priceBox {
  margin-bottom: 12px;
}
.prod_price {
  font-size: 18px;
}
.prod_price span {
  font-size: 20px;
}
.feat-card-title {
  font-size: 22px;
  margin-bottom: 12px;
}
.card_img {
  height: 162px;
}
section.new-arrivalsPage {
  padding-bottom: 95px;
}
.outer-swiper {
  width: 40px;
  height: 40px;
}
.swiper-buttonBox {
  margin-top: 40px;
  right: 45px;
}
.section_subTitle {
  font-size: 40px;
  margin-bottom: 12px;
}
.section_subText {
  font-size: 22px;
  margin-bottom: 28px;
}
.themes-btn.whitebg-btn {
  min-width: 160px;
}
.get-voucherRigthtBox::after {
  right: -65px;
}
.get-voucherRigthtBox::before {
  left: -65px;
}
.customers_cardBox {
  padding: 24px 18px;
}
.customers_address {
  font-size: 14px;
}
.customers_senpt {
  font-size: 18px;
}
.reviews-buttonBox {
  margin-top: 40px;
}
.reviews-buttonBox .themes-btn {
  min-width: 190px;
}
.faq_wrapper {
  padding: 60px 0;
}
.faq-page-wrapper .accordion-item {
  padding: 18px 28px 18px 78px;
  margin: 0 0 18px;
}
.faq-page-wrapper .accordion-body {
  padding: 30px 0 0 0;
}
.right-imgBox .al-qatt-img {
  width: 340px;
  height: 340px;
}
.right-imgBox .al-qatt-img01 {
  width: 265px;
  height: 265px;
  border: 8px solid #8D6E63;
}
.faq_wrapper .shap-bottomImg {
  top: 110px;
  right: 22%;
}
.shap-bottomImg img {
  height: 90px;
}
.footer_wrapper {
  padding: 70px 0 0;
}
footer h6 {
  margin: 0 0 32px;
}
.social_mediaIcons {
  margin: 30px 0 35px;
}
.newsletter_list li {
  margin-bottom: 18px;
}
.copyright {
  margin-top: 34px;
  padding: 22px 0;
}
.customers_info {
  gap: 15px;
  margin-bottom: 24px;
}
.featured-card-details {
  padding: 22px 15px 20px;
}
.feat-cardText {
  font-size: 18px;
}
}

@media (min-width: 1200px) and (max-width: 1309px) {}

@media (min-width: 1200px) {}

@media (min-width: 992px) {
  .mobile_logo {
    display: none;
  }

  .dropdown-menu {
    right: 0;
    left: auto;
  }

  /* 
  .dropdown:hover ul.dropdown-menu,
  .dropdown:hover ul.dropdown-menu.show {
    top: calc(100% + 5px);
    opacity: 1;
    visibility: visible;
    transform: rotateX(0) translateZ(0);

  } */
}

@media (min-width: 768px) {}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .custom-width-container {
    max-width: 100%;
    padding-left: calc((100vw - 960px) / 2);
  }
  #header .navbar-brand img {
    max-height: 40px;
}
  #header .navbar-expand-lg .navbar-nav .nav-item {
    margin-right: 25px;
}

  #header .extra_nav {
    margin-left: 15px;
  }


}

@media (max-width: 1199.98px) {
  section.new-arrivalsPage {
    padding-bottom: 70px;
}
  #header .navbar-expand-lg .extra_nav .navbar-nav .nav-item {
    margin-right: 15px;
}
#header .navbar-nav .nav-item .nav-link {
  font-size: 18px;
}
#header .nav-item .header_border_btn {
  padding: 6px 22px;
}
#header {
  height: 80px;
}
#header .navbar-expand-lg .navbar-nav .nav-link:before {
  bottom: -26px;
}
#header.is-sticky {
  height: 80px;
}
.banner_heading {
  font-size: 55px;
  margin-bottom: 20px;
}
.banner_text {
  font-size: 18px;
  margin-bottom: 30px;
  max-width: 420px;
}
.themes-btn {
  font-size: 18px;
  padding: 14px 20px;
  min-width: 160px;
}
.herobanner_block {
  max-width: 480px;
}
.herobanner_wrapper {
  min-height: 430px;
}
.card-heading {
  font-size: 28px;
  margin-bottom: 30px;
}
.card-title {
  font-size: 16px;
  margin-bottom: 22px;
}
.card-info {
  padding: 22px;
}
.view_btn.white-borderBtn {
  padding: 13px 20px;
  min-width: 150px;
}
.cardImg {
  height: 256px;
}
.featured_wrapper {
  padding: 60px 0;
}
.section-heading h2 {
  font-size: 35px;
  margin-bottom: 24px;
}
.card_img {
  height: 153px;
}
.featured-card-details {
  padding: 18px 15px;
}
.feat-card-title {
  font-size: 20px;
  margin-bottom: 8px;
}
.feat-cardText {
  font-size: 16px;
  margin-bottom: 18px;
}
.view_btn {
  font-size: 18px;
  min-width: 150px;
}
.al-qatt-img {
  width: 283px;
  height: 283px;
}
.al-qatt-img01 {
  width: 230px;
  height: 230px;
  border: 6px solid #8D6E63;
}
.al-qatt-detailsBox {
  padding-left: 65px;
}
.section_title {
  font-size: 35px;
  margin-bottom: 18px;
}
.section_desc {
  font-size: 17px;
  margin-bottom: 28px;
}
.themes-btn.whitebg-btn {
  min-width: 170px;
}
.shapArrow {
  top: 35%;
  left: 40%;
}
.al-qattSection {
  min-height: 476px;
}
.section-padding {
  padding: 60px 0;
}
.outer-swiper {
  width: 45px;
  height: 45px;
}
.swiper-buttonBox {
  margin-top: 35px;
  right: 35px;
}
.section_subTitle {
    font-size: 33px;
    margin-bottom: 8px;
}
.section_subText {
  font-size: 20px;
  margin-bottom: 26px;
}
.get-voucherRigthtBox {
  width: 230px;
  height: 221px;
}
.al-qattSection.get_voucherSection {
  min-height: 322px;
}
.customers_cardBox {
  padding: 22px 15px;
}
.customers_imgBox {
  width: 55px;
  flex: 0 0 55px;
  height: 55px;
}
.customers_info {
  gap: 12px;
  margin-bottom: 16px;
}
.customers_name {
  font-size: 18px;
  margin-bottom: 3px;
}
.customers_address {
  font-size: 14px;
  margin-bottom: 3px;
}
.reting-icons li svg {
  width: 17px;
  height: 17px;
}
.customers_senpt {
  font-size: 16px;
}
.reviews-buttonBox {
  margin-top: 40px;
}
.reviews-buttonBox .themes-btn {
  min-width: 170px;
}
.faq_wrapper {
  padding: 40px 0;
}
.faq-page-wrapper .accordion-item {
  padding: 18px 28px 18px 50px;
  margin: 0 0 18px;
}
.faq-page-wrapper .accordion-button {
  font-size: 18px;
}
.faq-page-wrapper .accordion-button::after {
  left: -35px;
}
.faq_Questions_title p {
  font-size: 15px;
  padding-left: 18px;
}
.right-imgBox .al-qatt-img {
  width: 283px;
  height: 283px;
}
.right-imgBox .al-qatt-img01 {
  width: 265px;
  height: 265px;
  border: 8px solid #8D6E63;
  left: 26px;
}
.faq_wrapper .shap-bottomImg {
  top: 35px;
  right: 20%;
}
.shap-bottomImg img {
  height: 85px;
}
.footer_wrapper {
  padding: 60px 0 0;
}
footer h6 {
  margin: 0 0 33px;
}
.newsletter_list li p {
  font-size: 15px;
}
.newsletter_list li {
  margin-bottom: 18px;
}
.footerIcons {
  margin-right: 12px;
}
.footer_wrapper .row{
  row-gap: 22px;
}
.social_mediaIcons {
  margin: 22px 0 22px;
  }
  .footer-block figure {
    margin: 0 0 18px;
    max-width: 180px;
}
.footer-text {
  font-size: 16px;
}
ul.footer-links li a { 
  font-size: 17px;
}
ul.footer-links li {
  margin-bottom: 14px;
}
.copyright-leftBox span {
  font-size: 16px;
}
.link_block li a {
  font-size: 16px;
}
.copyright {
  margin-top: 24px;
  padding: 16px 0;
}
.get-voucherRigthtBox::before {
  left: -65px;
  width: 120px;
  height: 198px;
}
.get-voucherRigthtBox::after {
  right: -70px;
  width: 165px;
  height: 196px;
}
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .custom-width-container {
    padding-left: calc((100vw - 720px) / 2);
}
  .navbar-toggler.menuClose-icon {
    display: none;
  }

  .navbar-toggler.menu-opened:before {
    top: 10px;
    background: #fff;
    width: 22px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .navbar-toggler.menu-opened span {
    opacity: 0;
  }

  .navbar-toggler.menu-opened:after {
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    top: 10px;
    border: 0;
    height: 2px;
    width: 22px;
    background: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

}


@media (max-width: 991.98px) {
  .saudi_logoImg {
    gap: 12px;
}
.social_mediaIcons {
  margin: 14px 0 ;
  gap: 12px;
}
.copyright-leftBox span {
  font-size: 15px;
}
  .card-detailsBox {
    padding: 16px 14px;
}
.view_btn.white-borderBtn {
  padding: 12px 14px;
  min-width: 116px;
  font-size: 16px;
}
.col-lg-2.custom-col .card-info {
  padding: 22px 10px;
}
.cardImg {
  height: 230px;
}
.featured_wrapper .row{
  row-gap: 22px;
}
.shap-rightImg {
  display: none;
}
.shap-bottomImg {
  display: none;
}
.shapArrow {
  display: none;
}
.al-qatt-detailsBox {
  padding-left: 12px;
}
.section_subTitle {
  font-size: 23px;
}
.section_subText {
  font-size: 16px;
}
.themes-btn {
  font-size: 16px;
}
.customers_cardBlock .row{
  row-gap: 22px;
}
.arrow-rightShap {
  display: none;
}
.right-imgBox {
  display: none;

}
  #header .header_filled_btn,
  #header .header_border_btn {
    padding: 8px 15px !important;
  }

  .menuoverlay {
    position: fixed;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    z-index: 9;
  }

  #header .navbar-brand img {
    max-height: 40px;
}

  #header .navbar-nav .dropdown-menu {
    border: none;
    /* background: transparent; */
    position: absolute;
  }

  .navbar-toggler:focus,
  .navbar-toggler:active {
    outline: none;
    box-shadow: none;
  }

  .navbar-toggler {
    width: 24px;
    height: 24px;
    position: relative;
    right: 0px;
    padding: 0;
    border: 0;
    z-index: 9;
    margin-left: 12px;
}
.extra_nav.for_mobile .header_icons {
  display: block;
}
.dot-no {
  padding: 0px 0 4px;
}
#header .nav-item .header_border_btn {
  color: #fff !important;
  background-color: #8D6E63;
  border: 1px solid #8D6E63;
}
.header_icons {
  display: none;
}
  .navbar-toggler:before {
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    height: 2px;
    width: 22px;
    background: #fff;
    content: "";
  }

  .navbar-toggler span {
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: absolute;
    bottom: 14px;
    right: 0;
    display: block;
    height: 2px;
    width: 22px;
    background: #fff;
  }

  .navbar-toggler:after {
    position: absolute;
    top: 16px;
    right: 0;
    display: block;
    height: 4px;
    width: 22px;
    border-top: 2px solid #fff;
    content: "";
  }

  /* Main Menu */
  header .collapse:not(.show) {
    display: block;
    position: fixed;
    top: 0;
    left: -300px;
    height: 100vh;
    overflow-y: auto;
    width: 250px;
    background: #fff;
    padding: 0 12px;
    padding-top: 110px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.5s;
    z-index: 99;
  }

  header .collapse:not(.show).menu-show {
    left: 0px;
  }

  body.scroll-off {
    overflow-y: hidden;
  }

  #header {
    height: 65px;
  }

  #header .navbar-expand-lg .navbar-nav .nav-link.sign_up,
  #header .navbar-expand-lg .navbar-nav .nav-link.sign_in {
    margin: 0 0;
    margin-top: 10px;
    text-align: center;
  }

  .mobile_logo {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 0 0 22px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
    background-color: #8D6E63;
    height: 95px;
    display: flex;
    align-items: center;
    right: 0;
  }

  .is-sticky .mobile_logo {
    padding: 15px 10px;
  }

  .is-sticky .collapse:not(.show) {
    padding-top: 105px;
}
#header .navbar-nav .nav-item .nav-link {
  color: #8D6E63;
}
#header .navbar-expand-lg .navbar-nav .nav-link:hover, #header .navbar-expand-lg .navbar-nav .nav-item.active .nav-link {
  color: #8D6E63;
 
}

  .mobile_logo img {
    max-height: 45px;
    width: auto;
}

  #header .navbar-expand-lg .navbar-nav .nav-link.sign_up {
    margin-top: 20px;
  }

  .overlay {
    position: fixed;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    z-index: 1;
  }

  .user_dropdown .dropdown-toggle::after {
    display: none;
  }

  #header .extra_nav {
    margin-left: 0;
    border-top: 1px solid #ddd;
    /*margin-top: 15px;*/
    padding-top: 15px;
  }

  #header .extra_nav.for_mobile {
    padding: 0;
    margin-top: 0;
    border: 0;
  }

  #header .navbar-expand-lg .navbar-nav .nav-link {
    padding: 5px 0;
  }

  #header .navbar-expand-lg .navbar-nav .nav-link.extra_btn {
    width: 100%;
    margin-bottom: 5px;
  }
  #header .navbar-expand-lg .extra_nav .navbar-nav {
    flex-direction: row !important;
}

  #header .navbar-expand-lg .navbar-nav .nav-link.lang_drop {
    padding-left: 30px;
    margin-bottom: 0;
  }

  #header .navbar-expand-lg .navbar-nav .nav-item {
    margin-right: 0px !important;
    margin-bottom: 10px;
  }

  #header .extra_nav.for_mobile .nav-item {
    margin-bottom: 0;
  }

  #header .navbar-nav .dropdown-menu {
    border: none;
    padding: 0;
  }

  #header .for_mobile {
    display: block;
  }

  #header .for_desktop {
    display: none;
  }

  .extra_nav.for_mobile {
    margin-left: 0 !important;
  }

  .user_dropdown>a {
    padding-left: 0;
  }

  #header .navbar-expand-lg .navbar-nav .nav-link:before {
    display: none;
  }

  .footer-signin-link a span,
  .footer-signup-link a span {
    font-size: 30px;
  }

  .footer-signin-link a p,
  .footer-signup-link a p {
    font-size: 13px;
  }

  .footer-signup-link a span.footer-link-arrow,
  .footer-signin-link a span.footer-link-arrow {
    height: 40px;
    width: 40px;
    line-height: 40px;
    right: 10px;
  }

  .footer-signup-link a {
    padding-left: 50px;
  }

  .footer-signin-link a,
  .footer-signup-link a {
    padding-right: 70px;
  }

  .footer-block figure {
    margin-bottom: 10px;
  }

  .footer-block {
    margin-bottom: 20px;
  }
}

@media (max-width: 767.98px) {
  .col-lg-5.custom-col {
    width: 100%;
}
section.new-arrivalsPage {
  padding-bottom: 40px;
}
.swiper-buttonBox {
  right: 6px;
}
.banner_heading {
  font-size: 33px;
  margin-bottom: 16px;
}
.herobanner_block {
  max-width: 350px;
}
.herobanner_wrapper {
  min-height: 315px;
}
.outer-swiper {
  width: 35px;
  height: 35px;
  top: 0px;
}
.col-lg-2.custom-col {
  width: 100%;
}
.card-box {
  margin-bottom: 15px;
}
.custom-col:last-child .card-box {
  margin-bottom: 0;
}
.al-qatt-leftBox {
  text-align: center;
}
.al-qatt-img01 {
  width: 175px;
  height: 175px;
  right: 60px;
  bottom: -25px;
}
.al-qatt-img {
  width: 230px;
  height: 230px;
}
.al-qatt-detailsBox {
  padding-left: 0;
  margin-top: 45px;
}
.spec-vendorsImg a img {
  object-fit: contain;
}
.section-padding {
  padding: 40px 0;
}
.prod_price span {
  font-size: 20px;
}
.prod_price {
  font-size: 18px;
  margin-bottom: 4px;
}
.get-voucherRigthtBox {
  margin-top: 40px;
}
.link_block {
  justify-content: start;
}
.footer_wrapper .row {
  row-gap: 13px;
}
.featured_wrapper {
  padding: 40px 0;
}
  .custom-width-container {
    padding-left: calc((100vw - 540px) / 2);
}
.navbar-toggler.menuClose-icon {
  position: absolute;
  top: 13px;
  right: 15px;
  color: #fff;
}
  .navbar-toggler.menuClose-icon::before,
  .navbar-toggler.menuClose-icon::after {
    display: none;
  }

  header .collapse:not(.show) {
    width: 100%;
  }

  header .collapse:not(.show) {
    left: -100%;
    box-shadow: unset;
  }

  p {
    font-size: 15px;
  }

  #header,
  .mobile_logo,
  #header.is-sticky {
    height: 60px;
  }

  header .collapse:not(.show) {
    padding-top: 70px;
  }

  .copyright {
    font-size: 12px;
  }

  footer h6 {
    margin: 0 0 10px;
  }

  .features-coin {
    height: 55px;
    width: 55px;
    line-height: 55px;
  }

  .features-coin img {
    height: 30px;
  }

  .features-heading {
    font-size: 17px;
  }

  .features-text {
    font-size: 13px;
  }

  .footer-signin-link a span,
  .footer-signup-link a span {
    font-size: 20px;
  }

  .footer-signin-link a p,
  .footer-signup-link a p {
    font-size: 11px;
  }

  .footer-signin-link a,
  .footer-signup-link a {
    padding-right: 40px;
  }

  .footer-signup-link a span.footer-link-arrow,
  .footer-signin-link a span.footer-link-arrow {
    height: 30px;
    width: 30px;
    line-height: 30px;
    right: 10px;
    font-size: 14px;
  }

  .footer-signin-link a,
  .footer-signup-link a {
    padding-right: 40px;
    padding-left: 15px;
  }

  .price-value-right,
  .coinname-detail-box,
  .coin-trade-action {
    padding: 10px 20px;
  }

}

@media (min-width: 576px) and (max-width: 767.98px) {
  .custom-width-container {
    padding-left: calc((100vw - 540px) / 2);
}
}

@media (max-width: 575.98px) {
  .get-voucherRigthtBox::after {
    display: none;
}
.get-voucherRigthtBox::before {
  display: none;
}
.auctions-slideContent .swiper.trendingSlide {
  padding: 0 0 10px;
}
.section-heading h2 {
  font-size: 24px;
}
.faq-page-wrapper .accordion-button {
  font-size: 15px;
}
.faq-page-wrapper .accordion-button::after {
  left: -23px;
  height: 16px;
  width: 16px;
  background-size: 16px;
}
.faq-page-wrapper .accordion-body {
  padding: 25px 0 0 0;
}
.faq_Questions_title p {
  padding-left: 12px;
}
.faq_wrapper {
  padding: 35px 0;
}
.footer_wrapper {
  padding: 35px 0 0;
}
.faq-page-wrapper .accordion-item {
  padding: 16px 15px 16px 28px;
  margin: 0 0 18px;
}
  .custom-width-container {
    padding: 0 1.5rem !important;
}

  #header .navbar-expand-lg .navbar-nav .nav-link.lang_drop img {
    width: 19px;
  }

  .section {
    margin-top: 25px;
  }

  .features-coin {
    height: 45px;
    width: 45px;
    line-height: 45px;
  }

  .features-coin img {
    height: 22px;
  }

  .footer_wrapper {
    padding: 20px 0 0;
  }
  .message_logo {
    width: 45px;
    min-width: 45px;
    height: 45px;
    bottom: 90px;
    right: 32px;
}
.message_logo svg {
  height: 25px;
}
#header .navbar-brand img {
  max-height: 40px;
}
  footer h6 {
    font-size: 15px;
  }

  ul.footer-links li {
    margin: 2 0;
  }

  .footer-signin-link a,
  .footer-signup-link a {
    padding-left: 10px;
    padding-right: 0;
    height: 80px;
  }

  .footer-signin-link a span,
  .footer-signup-link a span {
    font-size: 16px;
  }

  .footer-signup-link a span.footer-link-arrow,
  .footer-signin-link a span.footer-link-arrow {
    top: 10px;
    transform: unset;
    height: 22px;
    width: 22px;
    line-height: 22px;
    font-size: 13px;
  }


}